<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broken Ball</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/517cd31fd7.js" crossorigin="anonymous"></script>

   


    <link rel="stylesheet" href="../sass/style.css">
</head>
<body>
 
  
    
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-icon"><i class="fas fa-bars"></i></div>
        </div>
    </button>
    <nav class="nav">
        <a href="../index.html">
            <img src="../img/bb_white_logo.png" alt="logo" class="logo">
        </a>
        <div class="nav__items">
    
            <a href="../index.html#news" class="nav__item">Aktualności</a>
            <div class="dropdown">
                <a href="../index.html#events" class="dropdown-toggle">Zapisy</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                </div>
            </div>
            <a href="../index.html#program" class="nav__item">Program</a>
            <div class="dropdown">
                <a href="../index.html#events" class="dropdown-toggle">Wydarzenia</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                    <a href="/components/tattoo.html">Tattoo</a>
                    <a href="/components/fit.html">BrokenFit</a>
                    <a href="/components/music.html">Koncerty</a>
                    <a href="/components/party.html">AfterParty</a>
                    <a href="/components/twokey.html">2k Sports</a>
                    <a href="/components/graffiti.html">Graffiti</a>
                    <a href="/components/shop.html">Shop</a>
                </div>
            </div>
            <a href="/components/gallery.html" class="nav__item">Galeria</a>
            <a href="../index.html#partners" class="nav__item">Partnerzy</a>
            <a href="../index.html#contact" class="nav__item">Kontakt</a>
            
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/brokenball" target="_blank" class="fab fa-facebook"></a>
            <a href="https://www.instagram.com/brokenball_official/" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/@tomaszwozniak9581" target="_blank" class="fab fa-youtube"></a>
        </div>
    </nav>



    <section class="gallery section-padding section" id="gallery">
        <div class="wrapper">
            <h2 class="section-heading">Galeria</h2>
        </div>



        <div class="gallery__cards">

            <a href="https://www.facebook.com/media/set/?set=a.654564733383489&type=3&locale=pl_PL" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--first">
                    <h3 class="gallery__card-img-title">2024</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>
                </div>
            </a>
            
            <a href="https://www.facebook.com/media/set/?set=a.654564733383489&type=3" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--second">
                    <h3 class="gallery__card-img-title">2023</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>                </div>
            </a>   
            <a href="https://www.facebook.com/media/set/?set=a.10159821472003959&type=3" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--third">
                    <h3 class="gallery__card-img-title">2022</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>                </div>
            </a>  
            <a href="https://www.facebook.com/media/set/?set=a.10157222789808959&type=3" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--fourth">
                    <h3 class="gallery__card-img-title">2019</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>                </div>
            </a> 
            <a href="https://www.facebook.com/media/set/?set=a.10156395743503959&type=3" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--fifth">
                    <h3 class="gallery__card-img-title">2018</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>                </div>
            </a>  
            <a href="https://www.facebook.com/media/set/?set=a.10155407931788959&type=3" target="blank" class="gallery__card">
                <div class="gallery__card-img gallery__card-img--sixth">
                    <h3 class="gallery__card-img-title">2017</h3>
                    <p class="gallery__card-img-info"><i class="fas fa-basketball-ball"></i>Więcej</p>                </div>
            </a> 
           

        </div>
    </section>
    <script src="../script.js"></script>
    </body>
    </html>