<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broken Ball</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/517cd31fd7.js" crossorigin="anonymous"></script>

   


    <link rel="stylesheet" href="../sass/style.css">
</head>
<body>
 
  
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-icon"><i class="fas fa-bars"></i></div>
        </div>
    </button>
    <nav class="nav">
        <a href="../index.html">
            <img src="../img/bb_white_logo.png" alt="logo" class="logo">
        </a>
        <div class="nav__items">
    
            <a href="../index.html#news" class="nav__item">Aktualności</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Zapisy</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                </div>
            </div>
            <a href="../index.html#program" class="nav__item">Program</a>
            <div class="dropdown">
                <a href="../index.html#events" class="dropdown-toggle">Wydarzenia</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                    <a href="/components/junior.html">Tattoo</a>
                    <a href="/components/fit.html">BrokenFit</a>
                    <a href="/components/music.html">Koncerty</a>
                    <a href="/components/party.html">AfterParty</a>
                    <a href="/components/twokey.html">2k Sports</a>
                    <a href="/components/graffiti.html">Graffiti</a>
                    <a href="/components/shop.html">Shop</a>
                </div>
            </div>
            <a href="/components/gallery.html" class="nav__item">Galeria</a>
            <a href="../index.html#partners" class="nav__item">Partnerzy</a>
            <a href="../index.html#contact" class="nav__item">Kontakt</a>
            
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/brokenball" target="_blank" class="fab fa-facebook"></a>
            <a href="https://www.instagram.com/brokenball_official/" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/@tomaszwozniak9581" target="_blank" class="fab fa-youtube"></a>
        </div>
    </nav>


    <section class="news section-padding section" id="news">
        <div class="wrapper">
            <h2 class="section-heading">Historia</h2>


            <div class="news__box">
                <div class="news__box-img">
                    <img src="../img/wu.jpg" alt="news" class="news__img">
                    
                </div>
                <div class="news__box-text">
                <h3 class="news__title">Od Mieszkania do Marki</h3>
                <p class="news__text">Zaczęło się skromnie – w jednym z mieszkań współtwórcy turnieju, Tomasza. Kilka osób, głowy
                    pełne pomysłów i przekonanie, że Iława zasługuje na coś więcej niż zwykły turniej koszykówki. Z
                    tego pomysłu narodziło się Broken Ball – wydarzenie, które od 17 lat elektryzuje miasto i przyciąga
                    ludzi z całej Polski.
                    Na początku było chaotycznie, spontanicznie, ale zawsze z pasją. Z czasem Broken Ball rósł –
                    przyciągał coraz lepszych zawodników, coraz większe gwiazdy, coraz mocniejszą publikę.
                    Koszykówka? Jasne, ale też hip-hop, taniec, street art, zawody skateparkowe. To, co kiedyś było
                    lokalnym przedsięwzięciem, dziś stało się marką – synonimem dobrej energii, sportowej rywalizacji
                    i niepowtarzalnego klimatu.
                    Dziś BB to coś więcej niż impreza – to tradycja. Nie nudna, pompatyczna i przewidywalna, ale
                    żywa, zmieniająca się, idąca z duchem czasu. A wszystko zaczęło się od jednego mieszkania,
                    jednego pomysłu i kilku ludzi, którzy postanowili, że zrobią coś wyjątkowego.
                    Informacje o wydarzeniach towarzyszących
                </p>
                    
                </div>
                </div>
        </div>
    </section>



    <script src="../script.js"></script>

    </body>
    </html>