<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broken Ball</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/517cd31fd7.js" crossorigin="anonymous"></script>

   


    <link rel="stylesheet" href="../sass/style.css">
</head>
<body>
 
  
    
    

    <nav class="nav">
        <div class="nav__items">
            <a href="../index.html">
                <img src="../img/bb_white_logo.png" alt="logo" class="logo">
            </a>
    
            <a href="../index.html#news" class="nav__item">Aktualności</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Zapisy</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Wydarzenia</a>
                <div class="dropdown-menu">
                    <a href="components/adult.html">Turniej 5x5</a>
                    <a href="components/junior.html">Junior 3x3</a>
                    <a href="components/extreme.html">Extreme</a>
                    <a href="components/junior.html">Tattoo</a>
                    <a href="components/extreme.html">BrokenFit</a>
                    <a href="components/junior.html">BrokenParty</a>
                    <a href="components/extreme.html">MidleParty</a>
                </div>
            </div>
            <a href="../index.html#program" class="nav__item">Program</a>
            <a href="/components/gallery.html" class="nav__item">Galeria</a>
            <a href="../index.html#partners" class="nav__item">Partnerzy</a>
            <a href="../index.html#contact" class="nav__item">Kontakt</a>
            
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/brokenball" target="_blank" class="fab fa-facebook"></a>
            <a href="https://www.instagram.com/brokenball_official/" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/@tomaszwozniak9581" target="_blank" class="fab fa-youtube"></a>
        </div>
    </nav>
    
    <section class="junior section-padding section" id="junior">
        <div class="wrapper">
            <h2 class="section-heading">Broken 3x3 Junior</h2>
            <p class="junior__text">Młodzi, ambitni i głodni gry? Broken Ball Junior 3x3 to turniej dla Was! Dynamiczny streetball w
                formule 3x3, pełen szybkich akcji, rywalizacji i tej wyjątkowej atmosfery, którą zna każdy, kto
                chociaż raz poczuł smak prawdziwego basketu.
                Gramy na zewnętrznym boisku SP 1, a nad całością czuwa ekipa ICSTiR, więc organizacja
                będzie na poziomie. Wskakujcie do gry i zaznaczcie w kalendarzu sobotę, 28.06 – zapisy i
                szczegóły już wkrótce! Kto pierwszy, ten lepszy.</p>
            <a href="https://www.facebook.com/brokenball" target="_blank" class="fas fa-pen"></a>
        </div>
    </section>


    <script src="../script.js"></script>