<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broken Ball</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/517cd31fd7.js" crossorigin="anonymous"></script>

   


    <link rel="stylesheet" href="../sass/style.css">
</head>
<body>
 
  
    
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-icon"><i class="fas fa-bars"></i></div>
        </div>
    </button>
    <nav class="nav">
        <a href="../index.html">
            <img src="../img/bb_white_logo.png" alt="logo" class="logo">
        </a>
        <div class="nav__items">
    
            <a href="../index.html#news" class="nav__item">Aktualności</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Zapisy</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                </div>
            </div>
            <a href="../index.html#program" class="nav__item">Program</a>
            <div class="dropdown">
                <a href="../index.html#events" class="dropdown-toggle">Wydarzenia</a>
                <div class="dropdown-menu">
                    <a href="/components/adult.html">Turniej 5x5</a>
                    <a href="/components/junior.html">Junior 3x3</a>
                    <a href="/components/extreme.html">Extreme</a>
                    <a href="/components/junior.html">Tattoo</a>
                    <a href="/components/fit.html">BrokenFit</a>
                    <a href="/components/music.html">Koncerty</a>
                    <a href="/components/party.html">AfterParty</a>
                    <a href="/components/twokey.html">2k Sports</a>
                    <a href="/components/graffiti.html">Graffiti</a>
                    <a href="/components/shop.html">Shop</a>
                </div>
            </div>
            <a href="/components/gallery.html" class="nav__item">Galeria</a>
            <a href="../index.html#partners" class="nav__item">Partnerzy</a>
            <a href="../index.html#contact" class="nav__item">Kontakt</a>
            
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/brokenball" target="_blank" class="fab fa-facebook"></a>
            <a href="https://www.instagram.com/brokenball_official/" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/@tomaszwozniak9581" target="_blank" class="fab fa-youtube"></a>
        </div>
    </nav>


    <main class="main" >
        <section class="news section-padding section" id="news">
            <div class="wrapper">
                <h2 class="section-heading">News</h2>

                
              
                <div class="news__box">
                    <div class="news__box-img">
                        <img src="../img/bb_18.jpg" alt="news" class="news__img">
                        
                    </div>
                    <div class="news__box-text">
                        <h3 class="news__title">🏀🔥To już oficjalne!</h3>
                        <p class="news__text"> 18. Broken Ball ODBĘDZIE SIĘ (uff…) 27-29 czerwca🔥🏀
                        18. edycja Broken Ball! Czyli wreszcie będziemy pełnoletni🤩, ale dalej tak samo pełni energii, pełni emocji i najlepszego klimatu. BB to coś więcej niż turniej – to koszykarska rodzina, vibe, którego nie znajdziesz nigdzie indziej i wydarzenie, na które czeka się cały rok!
                        Koszykówka jest sercem Broken Ball, ale wokół niej bije puls wydarzeń, które tworzą magię tego weekendu. Eventy towarzyszące, street art, muzyka, nocne historie, których się nie opowiada – po prostu trzeba tu być i to przeżyć!
                        📍 Dlatego zapiszcie datę: 27-29.06.2025 | IŁAWA 
                        Ekipa, koszykówka, fity, skate, graffitti, tattoo, gastro, wszyscy razem - po prostu, Broken Ball! 🤜🤛
                        Wy, my i osiemnastka, którą zapamiętamy na dłuuuugooooo🔥
                        Obserwujcie, posyłajcie dalej, niech wszyscy się dowiedzą, że Broken Ball wchodzi w pełnoletniość, a jakie są osiemnastki… wszyscy wiemy😎🤫🔥🏀
                        Więcej informacji soon!
                       </p>
                        
                    </div>
                </div>
                <div class="news__box">
                    <div class="news__box-img">
                            <img src="../img/news.jpg" alt="news" class="news__img">
                    </div>
                    <div class="news__box-text">
                        <h3 class="news__title">Zaczynamy</h3>
                        <p class="news__text">Hej hej fani koszykówki i dobrej zabawy! 😎
                            Stało się! Oficjalnie zaczynamy pracę nad kolejną edycją Broken Ball 🏀
                            W tym roku stuknie nam osiemnastka❗🎉
                            Chcemy, aby ta edycja była wyjątkowa pod każdym względem 💪
                            Widzimy się nad Jeziorakiem już w czerwcu 2025! Dokładną datę podamy wkrótce. 
                            Obserwujcie nasze social media 👊</p>
                    </div>
                </div>

                
                    
                
            </div>

        </section>
    
    

    <script src="../script.js"></script>



    </body>
</html>
